<footer class="row">
    <div class="col-sm-6 col-sm-offset-3 social-login">
        <h3>&copy;Miaoowu | Design: icefox</h3>

        <div class="social-login-buttons">
            <a class="btn btn-link-2" href="http://bbs.miaoowu.com" target="_blank">
                <i class="fa fa-comments "></i> 喵唔交流社区
            </a>
            <a class="btn btn-link-2" href="http://mxd.moe" target="_blank">
                <i class="fa fa-wordpress"></i> icefox Blog
            </a>
        </div>
    </div>
</footer>