<header class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1><%- title %></h1>

        <div class="description">
            <p>
                <%- header_description %>
            </p>
        </div>
    </div>
</header>