<div class="row" id="manage-div" style="display: none;">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>账户管理</h3>

                <p><span id="mgr-error" class="error-msg"></span></p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-gear"></i>
            </div>
        </div>
        <div class="form-bottom">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">当前密码&nbsp;</span>
                <input type="text" id="currentpwd" class="form-control" placeholder="当前密码">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">&nbsp;&nbsp;新密码&nbsp;&nbsp;</span>
                <input type="text" id="newpassword" class="form-control" placeholder="新密码">
            </div>
            <button type="submit" class="btn btn-small btn-blue " id="changepasswd"> 更改密码</button>
            <button type="submit" class="btn btn-small btn-red" id="deleteaccount"> 删除账户</button>
            <button type="submit" class="btn btn-small btn-green" id="logout"> 退出登录</button>
        </div>
    </div>
</div>